var config = {}

// Used to validate requests
config.twilio_sid = "YOUR_TWILIO_SID";
config.twilio_token = "YOUR_TWILIO_AUTH_TOKEN";

// What port should we listen on?
config.port = 3425; // 'dial'

// How do we want to greet these humans?
// UNCOMMENT ONE OF THE FOLLOWING:
//config.message = 'Enter password to access the matrix, or press pound to call.';
//config.message_file = "message.wav";

// This is the number that should be dialed if the caller hits '#'
config.forward_phone = "867-5301";

// Super secret passcode.
config.passcode = "0000";

// wav file to for Twilio to play.
// Use http://www.dialabc.com/sound/generate/ (default audio format should work?)
config.unlock_file = "6.wav";

config.on_success_endpoint = {
  options: {
        hostname: 'agent.electricimp.com',
        port: 443,
        path: '/agent_agent_agent',
        method: 'POST',
      },
  post_data: {'password' : 'password'}
}

// Slightly more verbose output.
//config.debug = true;

module.exports = config;
